body {
    /* background-image: url('images/BGI1.jpg');
    background-repeat: no-repeat, repeat; */

        /* background-image: linear-gradient(
        0deg,
     rgb(247, 247, 247) 23.8%,
     rgb(177, 187, 41) 92%
     );
    background-size: cover;  */

    background-image: linear-gradient(to right, rgba(206, 203, 19, 0), rgb(216, 219, 29));
    
}

.grid {
    
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
}

