@media screen and (min-width: 140px){
    body {
    height: 100vh;
    /* margin: 0; */
    font-family: 'Lato', sans-serif;
    background-color: #021414;
    margin: auto 40px;
 
}


h3 {
    color: rgb(197, 21, 21);

}

#result{
    color:rgb(5, 156, 5);
}

.grid { 
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
    margin-right:300px;
}
}

@media screen and (min-width: 905px){ /*Laptop*/
    body {
        height: 100vh;
        /* margin: 0; */
        font-family: 'Lato', sans-serif;
        background-color: #020f1d;
        margin: 70px 450px;
     
    }
    .grid {
        margin-top: 70px;
    }
    h3 {
        color: rgb(39, 180, 199);
    
    }

}



